<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Microsoft.DocumentDB.StockQuantity.DBName" value="stockquantity-db" />
    <add key="Microsoft.DocumentDB.StockQuantity.DBCollectionName" value="regionstock-col" />
    <add key="Microsoft.DocumentDB.SkuVariantMap.DBCollectionName" value="skuvariant-col" />
    <add key="Microsoft.DocumentDB.StockQuantity.EUN.AccountEndpoint" value="https://stockquantity-eun.documents.azure.com:443/" />
    <add key="Microsoft.DocumentDB.StockQuantity.EUN.AccountKey" value="z6By1JuLB7Ja7ESoeGP811Nj8ReNLOjQ42sGtPy1nHglEJlHTdlz89MFHdCG9FGGugc64g4Em8eezFwE4GrZjg==" />
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>
</configuration>